ENVIRONMENT="develop"
JWT_SECRET="CHANGE_ME"
MYSQL_USER="CHANGE_ME"
MYSQL_PASSWORD="CHANGE_ME"
MYSQL_HOST_WRITE="localhost"
MYSQL_HOST_READ="localhost"
MYSQL_DB="nike"
DOMAIN_COOKIE="localhost"
DOMAIN_FILE="http://localhost:8000"
MYSQL_POOL_SIZE=10
MYSQL_MAX_OVERFLOW=40
LOG_GROUP_NAME="FastApi"
LOG_FILE_NAME="./logs/app.log"
NUMBER_LOG_UNENCRYPTED=3
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME="CHANGE_ME"
MAIL_PASSWORD="CHANGE_ME"
MAIL_TLS=True
MAIL_SSL=False
FORM_USER_URL=http://localhost:8000/#/form
PASSWORD_RESET_URL=http://localhost:8000/#/password-reset